*,
:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  font-family: Gilroy;
  -webkit-tap-highlight-color: transparent;
}

* {
  font-size: 18px;
  font-family: Roboto, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: #f3f3f3;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

button {
    background-color: #3882f6;
    border-radius: 6px;
    color: #fff;
    border: none;
    padding: 8px 16px;

}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 60px;
    padding: 20px 20px;
    background: #1f2937;
}

.header .logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
}

.header ul *{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    margin: 0 10px;

}
.hero {
    flex: 1 1 auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    background: #1f2937;
}

.hero-text {
    flex: 1 1 50%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin: 40px 100px;
}

.hero-img {
    flex: 1 1 50%;
    background-color: #6d747d;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin: 40px 100px;
    min-height: 200px;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin: 0;
}

.hero p {
    font-size: 18px;
    color: #e5e7eb;
}

.cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0 20px;
    gap: 12px;
}

.info {
    flex: 1 1 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    background: #eee;
}

.info h1 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    flex: 1 1 auto;
    width: 250px;
    margin: 10px;
}

.card-img {
    border: 4px solid blue;
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
    border-radius: 15px;
}

.card p {
    text-align: center;
}

.quote {
    flex: 1 1 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 6rem 9rem;
    background: #e5e7eb;
}

blockquote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    margin: 0;
}

.quote p {
    align-self: flex-end;
    padding: 0 60px;
    font-weight: 700;
    margin: 0;
}

.footer {
    background: #1f2937;
}
